.footer
{
    background-color: var(--color1);
    width: 100%;
    padding: 5px 10px;
    border-top: 3px solid var(--color3);
    color: var(--color4);
}

.main
{
    margin: auto;
    color: var(--color4);
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.main a {
    color: var(--color4);
    text-decoration: none;
}